{% extends 'signup/master.html' %}
{% load static %}
{% block title %}Login :Finance Seeker{% endblock %}
{% block body %}
    <div class="main">
        <div class="container">
            <!-- Sing in  Form -->
            <section class="sign-in">
                <div class="container">
                    <div class="signin-content">
                        <div class="signin-image">
                            <figure><img src="{% static 'signup/images/signin-image.jpg' %}" alt="sing up image">
                            </figure>
                            <a class="text-dark" href="{% url 'signup:signupView' %}">Create an account</a><br>
                            <a class="text-danger" href="{% url 'password_reset' %}">Forgot Password</a>
                        </div>

                        <div class="signin-form">
                            <h2 class="form-title">Login</h2>
                            <form method="POST" class="register-form" id="login-form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="id_password"><i
                                            class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="text" name="username" id="id_username" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <label for="id_password"><i class="zmdi zmdi-lock"></i></label>
                                    <input type="password" name="password" id="id_password" placeholder="Password"/>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="remember-me" id="remember-me" class="agree-term"/>
                                    <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember
                                        me</label>
                                </div>
                                <div class="form-group form-button">
                                    <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                                </div>
                            </form>
                            <div class="social-login">
                                <span class="social-label">Or login with</span>
                                <ul class="socials">
                                    <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                    <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                    <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>

{% endblock %}